<footer class="row">
  <div class="columns large-12">
    <hr>
    <div class="row">
      <div class="columns large-6">
        <p>&copy; 2013 Yr Name Here</p>
      </div>
      <div class="columns large-6">
        <ul>
          <li><a href="http://generalassemb.ly">General Assembly</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>