<div class="row">
  <div class="columns large-12">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name"></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Create User</a></li>
        </ul>
      </section>
    </nav>
  </div>
</div>